<div class="booyah-box col-10 offset-1">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-auto d-flex justify-content-center">
        <%= image_tag 'usericon.png', class: 'user-icon'%>
    </div>

    <div class="col-12 col-sm-auto profile-container">
      <h1><%= @user.email %></h1>
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h4><%= @user.comments.count %> total comments</h4>
      <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>
    </div>
  </div>
  <div class="clear"></div>
</div>

<br /><br />

<div class="booyah-box col-10 offset-1 col-sm-6 offset-sm-3">
  <h1 class="text-center">My Comments</h1>
</div>

<div class="booyah-box col-10 offset-1">
  <div class="row">
    <% @user.comments.each do |comment| %>
      <div class="col-12 col-sm-6">
        <h2 class="text-center"><%= link_to comment.place.name, place_path(comment.place) %></h2>
        <blockquote>
          <% if comment.humanized_rating.present? %>
            <b class="stars"><%= comment.humanized_rating %></b>
            <br class="hidden" />
          <% end %>
          <%= comment.message %>
          <br />
          <small><%= "-- " + comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>

  <div class="clear"></div>
</div>

<br /><br />

<div class="booyah-box col-10 offset-1 col-sm-6 offset-sm-3">
  <h2 class="text-center">Latest Places</h2>
</div>

<% @user.places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <% if place.photos.first.present? %>
      <div class="img-holder col-auto col-sm mx-auto">  
        <img src="<%= place.photos.first.picture.url %>" class="img-thumbnail index-image"/>
      </div>
    <% end %> 
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b class="stars"><%= place.comments.last.humanized_rating %></b>
            <br class="hidden" />
          <% end %>
          <%= place.comments.last.message %>
          <br />
          <small><%= "-- " + place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>

  </div>
<% end %>
